<cl-section-title class="my-5" [title]="['ACERCA', 'DE']"></cl-section-title>

<div class="container my-5">
  <div class="row h-100">
    <div class="col-12 col-md-5">
      <h2
        class="h-100 d-flex text-center justify-content-center align-items-center bold p-3"
      >
        Más de 20 años de experiencia
      </h2>
    </div>
    <div class="col-11 mx-auto col-md-7 about-image">
      <div id="about-text-container">
        <p class="text-dark">
          Nos encargamos de ofrecer toda clase de trabajos relacionadas con
          albañilería, construcción y reforma de edificios, viviendas y locales.
        </p>
      </div>
    </div>
  </div>
</div>
