@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.bold {
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.about-image {
  background-image: url("../../../assets/images/about.jpg");
  background-size: cover;
  padding: 0 !important;
  height: 50vh;
  position: relative;
}

#about-text-container {
  position: absolute;
  bottom: 0;
  width: 75%;
}

#about-text-container p {
  padding: 1.5rem;
}

.container {
  height: 50vh;
}

.text-dark {
  background-color: white;
  margin: 0 !important;
  font-family: "Inter", sans-serif;
}

@media only screen and (min-width: 1024px) {
  .about-image {
    position: relative;
  }

  #about-text-container {
    position: absolute;
    bottom: 0;
  }

  #about-text-container p {
    width: 75%;
    padding: 3rem;
  }
}
