<cl-section-title
  class="my-5"
  [title]="['TRABAJOS', 'RECIENTES']"
></cl-section-title>

<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md-4">
      <img
        src="../../../assets/images/w-1.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
      <img
        src="../../../assets/images/w-2.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
      <img
        src="../../../assets/images/w-3.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
    </div>
    <div class="col-12 col-md-4">
      <img
        src="../../../assets/images/w-4.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
      <img
        src="../../../assets/images/w-5.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
      <img
        src="../../../assets/images/w-6.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
    </div>
    <div class="col-12 col-md-4">
      <img
        src="../../../assets/images/w-7.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
      <img
        src="../../../assets/images/w-8.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
      <img
        src="../../../assets/images/w-9.jpg"
        alt="image-w-1"
        loading="lazy"
        class="img-fluid py-3"
      />
    </div>
  </div>
  <div class="row mt-3">
    <div
      class="col-12 d-flex flex-column align-items-center justify-content-center"
    >
      <h4 class="text-center">
        En nuestra página de Facebook puedes encontrar más trabajos
      </h4>
      <i class="bi bi-facebook"></i>
    </div>
  </div>
</div>
